.dropdown__container {
  position: relative;
  font-size: 1rem;
  .dropdown__content {
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    display: none;
    flex-direction: column;
    min-width: 200px;
    position: absolute;
    & > span.dropdown__item {
      cursor: pointer;
      &:hover {
        background-color: #eee;
      }

      & > * {
        display: block;
        padding: 0.8em;
      }
    }
  }
  .dropdown__button {
    &:focus ~ .dropdown__content {
      display: flex;
    }
  }
}
