.origin__footer {
  display: flex;
  flex-direction: column;
  > *:not(:last-child) {
    margin-bottom: 1em;
  }
}

.destination__footer {
  font-size: 1.2rem;
  width: 100vw;
  position: absolute;
  bottom: 0;
  background-color: white;
  padding: 1.5em 0;
  border-radius: 60px 60px 0 0;
  .destination__footer__content {
    width: 22em;
    margin: auto;
  }
  h2 {
    text-align: center;
    letter-spacing: -0.78px;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 500;
    font-weight: 1.5em;
    margin-bottom: 1em;
  }
  @media (max-width: 500px) {
    font-size: 0.9rem;
    .destination__footer__content {
      width: 90%;
    }
  }
}
