.menu__item {
  background-color: var(--color-lighter);
  color: rgba(0, 0, 0, 0.6);
  padding: 1em 1.4em;
  border-radius: 5px;
  display: flex;
  align-items: center;
  @media (max-width: 460px) {
    font-size: 16px;
    padding: 1.2em 1.2em;
  }

  .menu__item__icon {
    margin-left: 0.6em;
  }
  .menu__item__label {
    white-space: nowrap;
    letter-spacing: -0.33px;
    font-size: 0.9em;
  }
}
