.menu__item {
  background-color: var(--color-lighter);
  color: rgba(0, 0, 0, 0.6);
  padding: 1em 1.4em;
  border-radius: 5px;
  display: flex;
  align-items: center;
  position: relative;
  @media (max-width: 460px) {
    font-size: 16px;
    padding: 1.2em 1.2em;
  }

  .menu__item__icon {
    margin-left: 0.6em;
  }
  .menu__item__label {
    white-space: nowrap;
    letter-spacing: -0.33px;
    font-size: 0.9em;
  }
  .menu__item__badge {
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    font-size: 0.8em;
    border-radius: 100%;
    background-color: var(--color-warning);
    color: white;
    position: absolute;
    top: -5%;
    right: -5%;
  }
}
