.btn {
  position: relative;
  white-space: nowrap;
  font-size: 1rem;
  background: transparent;
  color: var(--color-secondary);
  text-align: center;
  border-radius: 4px;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  overflow: hidden;
  min-width: 100px;
  &.btn-block {
    display: block;
    width: 100%;
  }
  &.btn-circle {
    width: 50px;
    min-width: 50px;
    height: 50px;
    line-height: 60px;
    padding: 0;
    border-radius: 50%;
  }
  &.btn-round {
    border-radius: 40px;
  }

  &.btn-square {
    border-radius: 0;
  }

  &.btn--warning {
    background-color: var(--color-warning);
    color: var(--color-whitish);
    fill: var(--color-whitish);
  }
  &.btn--warning-outline {
    color: var(--color-warning);
    fill: var(--color-warning);
    background-color: var(--color-whitish);
  }
  &.btn--warning-reverse {
    background-color: rgba(#ffa41b, 0.1);
    color: var(--color-warning);
  }

  &.btn--primary {
    background-color: var(--color-primary);
    color: var(--color-whitish);
  }
  .btn__content {
    padding-left: 0.6em;
    padding-right: 0.6em;
    width: 100%;
    height: 100%;
  }
  .btn__spinner {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%);
  }
  .hidden {
    visibility: hidden;
  }
}
