.services {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-size: 1.2rem;
  @media (max-width: 380px) {
    font-size: 0.9rem;
  }
  .services__header {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 20em;
    display: flex;
    justify-content: space-between;
  }
  .services__footer {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 19em;
    display: flex;
    justify-content: space-between;
    @media (max-width: 500px) {
      width: 90%;
    }
  }
}
