.input-container {
    width: 100%;
    max-width: 100%;
    margin-top: 20px;
    margin-bottom:10px;
    position: relative;
    .input__label {
        letter-spacing: -0.42px;
        font-weight: bold;
        height: 27px;
        //line-height: 41px;
        position: absolute;
        top:-35px;
        left: 50%;
        padding: 15px;
        transform: translateX(-50%);
        margin: 10px auto -20px;
        background: var(--color-base);
        color: var(--color-gray);
        border: none;
        outline: none;
        z-index: 2;
    }
    input.input__placeholder {
        &[invalid] {
            border-color: var(--color-danger);
            & ~ .input__label {
                color: var(--color-danger);
            }
        }
        border-radius: 3px;
        border: 1px solid var(--color-secondary);
        outline: 0;
        color: var(--color-gray);
        opacity: .6;
        z-index: 0;
        top: 0;
        left:0;
        width: 100%;
        height: 100%;
        padding: 15px;
        text-align: center;
    }
}
