.profile__item {
  background-color: white;
  border: solid 2px rgba(0, 0, 0, 0.06);
  padding: 1em 1.4em;
  border-radius: 5px;
  display: flex;
  align-items: center;
  text-align: right;
  &[disabled] {
    border: 0;
    background-color: var(--color-lighter);
  }
  @media (max-width: 460px) {
    font-size: 14px;
    padding: 1.3em 1em;
  }

  .change-input-profile {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 0 0.5em;
    @media (max-width: 400px) {
      padding: 0 0.1em;
    }
    input {
      border: solid 1px rgba(0, 0, 0, 0.06);
      flex-grow: 1;
      white-space: nowrap;
      letter-spacing: -0.33px;
      font-size: 0.8em;
      opacity: 0.6;
      padding: 0.8em 0.2em;
    }
  }
  .profile__item__icon {
    margin-left: 0.9em;
    margin-top: -0.3rem;
  }
  .profile__item__label {
    white-space: nowrap;
    letter-spacing: -0.33px;
    font-size: 1em;
  }
  .profile__item__value {
    white-space: nowrap;
    letter-spacing: -0.33px;
    font-size: 0.9em;
    flex: 1;
    margin-right: 0.5em;
    font-weight: light;
    opacity: 0.6;
  }
  .profile-edit-pencil {
    opacity: 0.3;
    font-size: 1.2em;
  }
}
