.auth-container {
    position: relative;
    background-image: url('/static/img/signup-bg.png');
    background-image:
       image-set(
         "/static/img/signup-bg.png" 1x,
         "/static/img/signup-bg@2x.png" 2x,
         "/static/img/signup-bg@3x.png" 3x,
       );
    background-size: 97% 120%;
    background-position: 0 30%;
    background-repeat: no-repeat;

    width: 100%;
    min-height: 100vh;
    background-color:  var(--color-base);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    @media(max-width: 800px) {
      background-size: cover;
      background-position: 26% -75px;
    }
    .auth__card {
        max-width: 700px;
        width: 400px;
        padding-bottom: 50px;
        margin: auto;
        padding-top: 162px;
        display: flex;
        flex-direction: column;

        .auth__icon {
            width: 200px;
            height: 200px;
            display: block;
            margin:auto;
            margin-bottom: 20px;
        }
        @media(max-width: 800px) {
            padding-top: 250px;
            width: 90%;
            min-height: 100vh;
        }
    }
}
