.shape--circle {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  background-color: white;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  &::before {
    content: "";
    width: 90%;
    height: 90%;
    border-radius: 100%;
    background-color: #f4f4f4;

    position: absolute;
    left: 5%;
    top: 5%;
  }
  .shape__icon {
    font-size: 0.9em;
    position: absolute;
    right: -15%;
    top: 50%;
    transform: translateY(-50%);
    width: 35%;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 100%;
    color: white;
    background-color: var(--color-warning);
  }
}
