.signup-container {
    position: relative;
    background-image: url('/static/img/signup-bg.png');
    background-image:
       image-set(
         "/static/img/signup-bg.png" 1x,
         "/static/img/signup-bg@2x.png" 2x,
         "/static/img/signup-bg@3x.png" 3x,
       );

    background-size: 100% 120%;
    background-position: 0 30%;
    background-repeat: no-repeat;
    
    width: 100%;
    min-height: 100vh;
    background-color:  var(--color-base);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    .signup__icon {
        width: 130px;
        height: 130px;
        display: block;
        margin: auto;
        margin-bottom: 20px;
    }
    .signup__card {
        max-width: 700px;
        width: 330px;
        padding-bottom: 10px;
        margin: auto;
        padding-top: 162px;
        display: flex;
        flex-direction: column;
        @media(max-width: 500px) {
            width: 90%;
            min-height: 100vh;
        }
    }
}
