.signup-container {
    width: 100%;
    min-height: 100vh;
    background:  var(--color-base);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    .signup__icon {
        width: 130px;
        height: 130px;
        display: block;
        margin: auto;
        margin-bottom: 20px;
    }
    .signup__card {
        max-width: 700px;
        width: 330px;
        padding-bottom: 10px;
        margin: auto;
        display: flex;
        flex-direction: column;
        @media(max-width: 500px) {
            width: 90%;
            min-height: 100vh;
        }
    }
}
